breadability==0.1.20
certifi==2019.6.16
chardet==3.0.4
Click==7.0
docopt==0.6.2
Flask==1.1.1
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
Janome==0.3.9
Jinja2==2.10.1
lxml==4.6.2
MarkupSafe==1.1.1
nltk==3.4.4
pycountry==19.7.15
requests==2.22.0
six==1.12.0
sumy==0.8.1
urllib3==1.25.3
Werkzeug==0.15.5
